@using System.ComponentModel.DataAnnotations
@using OnlineShop.HttpApiClient;
@using OnlineShop.HttpModel.Requests;
@inject OnlineShop.HttpApiClient.IMyShopClient Client
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

@page "/Registration"
<h3>Регистрация</h3>

<EditForm Model="@_model" OnValidSubmit="@ProcessRegistration">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Ваше имя"
                    @bind-Value="_model.Name" For="@(() => _model.Name)" />
                    <MudTextField Label="Email" Class="mt-3"
                    @bind-Value="_model.Email" For="@(() => _model.Email)" />
                    <MudTextField Label="Пароль" Class="mt-3"
                    @bind-Value="_model.Password" For="@(() => _model.Password)" InputType="InputType.Password" />
                    <MudTextField Label="Пароль еще раз" Class="mt-3"
                    @bind-Value="_model.ConfirmedPassword" For="@(() => _model.ConfirmedPassword)" InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Регистрация</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        @if (_registrationInProgress)
        {
            <MudItem xs="12">

                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
            </MudItem>
        }
    </MudGrid>
</EditForm>
@code {
    readonly RegisterRequest _model = new();
    bool _registrationInProgress;

    private async Task ProcessRegistration()
    {
        if (_registrationInProgress)
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
            Snackbar.Add("Пожалуйста, подождите...", Severity.Info);
            return;
        }
        _registrationInProgress = true;
        try
        {
            await Client.Register(_model, default);
            await DialogService.ShowMessageBox(
                "Успех!",
                "Поздравляем, Вы успешно зарегистрировались!",
                yesText: "OK");
            NavigationManager.NavigateTo("/catalog");
        }catch(MyShopApiException e)
        {
            _registrationInProgress = false;
            await DialogService.ShowMessageBox("Ошибка!", e.Message, yesText: "OK");
        }
        finally
        {
            _registrationInProgress = false;
        }
    }

}

